body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.logo {
  position: absolute;
  left: 530px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  /*почему грубо говоря нельзя wrapper закинуть в body что бы вся страница отцентрировалась? */
}

.list-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0px;
  padding-right: 0px;
  /*на макете между 3-4 элементом списка растояние больше, чем 1-2 и 3-4
  Как реализовать с помощью flex ?
  */
}

.list-navigation li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation {
  padding-left: 73px;
  padding-right: 73px;
}

.list-navigation li:nth-child(3) {
  margin-left: auto;
  padding-right: 160px;
}

.list-navigation li:nth-child(2) {
  padding-left: 145px;
}

.list-navigation a {
  color: #000000;
}

.list-navigation a[href]:hover {
  color: #81b3d2;
}

.list-navigation a[href]:focus {
  color: rgba(0, 0, 0, 0.3);
}

.greeting {
  min-height: 550px;
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 75px;
  box-sizing: border-box;
}

.advantage {
  line-height: 26px;
  text-align: center;
}

.advantage-slogan {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.advantage-cause {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.feature-list,
.additional-feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-list b {
  color: #000000;
  font-size: 21px;
}

/*.feature-item b::after{
  counter-increment: numberCounter;
  content:counter(numberCounter);
}
*/
.true-city b,
.devil-bridge b {
  color: #ffffff;
  font-weight: bold;
}

.true-city,
.devil-bridge {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  background-color: #81b3d2;
  color: #ffffff;
}

.devil-bridge {
  flex-direction: row-reverse;
}

.additional-feature {
  display: flex;
  justify-content: space-between;
  /*Тут высота нужна?*/
}

.additional-feature li {
  width: 400px;
}

.list-wrapper {
  display: flex;
}

.feature-item-column {
  min-width: 400px;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.visit-sedona {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search {
  text-align: center;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  min-width: 570px;
}

.hotel-search-popup p {
  font-size: 14px;
  line-height: 26px;
}

.date {
  display: flex;
}

.number {
  display: inline-block;
}

input[type="text"] {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

input[type="text"]:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

input[type="number"] {
  outline-width: 0;
}

input::placeholder {
  color: #000000;
  font-weight: bold;
}

.button-hotel-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  vertical-align: bottom;
}

.button-hotel-search:hover {
  background-color: #604e43;
}

.button-hotel-search:focus {
  color: #857871;
  background-color: #503e33;
}

.button-search {
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 461px;
  height: 60px;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.container-interest {
  padding-top: 50px;
  box-sizing: border-box;
  border: 2px solid green;
  /*временно*/
}

.main-footer .wrapper {
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
}

.footer-container {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  display: flex;
  min-width: 150px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social a {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:focus {
  background-color: #5496bd;
}

.footer-social a:focus path {
  fill-opacity: 0.4;
}

.html-academy span {
  line-height: 26px;
}

.html-academy svg {
  width: 115px;
  height: 41px;
  vertical-align: bottom;
}

.html-academy a:hover path {
  fill: #81b3d2;
}

.html-academy a:focus path {
  fill: #bdbbbc;
}

.sort-settings ul {
  list-style: none;
}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-types {
  font-size: 12px;
  line-height: 18px;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2
}

.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3)
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-black {
  color: #000000;
}

.sort-types .current-setting {
  color: #81b3d2
}

.sort-types a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-types a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-types a:focus {
  color: #000000;
  border: none;
}

.icon-up svg path {
  fill: #cacaca;
}

.icon-down svg path {
  fill: #81b3d2;
}

.non-active:hover path {
  fill: #231f20;
}

.sort-controls a:focus path {
  fill: #81b3d2;
}

.information {
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: bold;
}

.order {
  color: #ffffff;
  background-color: #766357;
  font-weight: bold;
}

.information:hover {
  background-color: #669ec0;
}

.information:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.order:hover {
  background-color: #604e43;
}

.order:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.main-header {
  min-height: 56px;
}

/*Сетка для hotels.index*/
.hotel-form {
  min-height: 217px;
  outline: 1px solid blue;
  /*временно*/
}

.sort-settings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 72px;
  padding-top: 33px;
  box-sizing: border-box;
  /*в таких блоках задавать высоту или padding?*
  и ещё вопрос. Как в таком случае вычислять padding имея макет с размерами?
  */
}

.sort-types {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 45px;
  padding-top: 6px;
  .
  /*Можно через флекс задать, что бы элементы в  этом div
  выравнивались по нижнему краю span "Найдено" ?
  */
}

.sort-types ul {
  display: flex;
}

.sort-types li {
  padding-right: 30px;
}

.sort-controls {
  display: flex;
  margin-left: auto;
  padding-right: 73px;
  padding-top: 6px;
}

.hotel-catalog {
  display: flex;
  flex-direction: column;
}

.hotel-item {
  display: flex;
  padding: 35px 73px;
}

.hotel-rating {
  margin-left: auto;
}

.description {
  display: flex;
  flex-basis: 520px;
}
