body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  /*Почти весь текст на странице чёрного цвета, задаём в общих стилях чёрный */
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

.button {
  color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.list-navigation {
  list-style: none;
}

.list-navigation a {
  color: #000000;
}

.list-navigation a[href]:hover {
  color: #81b3d2;
}

.list-navigation a[href]:focus {
  color: rgba(0, 0, 0, 0.3);
}

.greeting {
  min-height: 545px;
  background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
  background-position: bottom, center;
  /*убрать линию*/
  background-repeat: no-repeat;
  text-align: center;
}

.advantage {
  text-align: center;
  line-height: 26px;
}

.advantage-slogan {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.advantage-cause {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.feature-list,
.additional-feature {
  list-style: none;
}

.feature-list b {
  color: #000000;
  font-size: 21px;
  /*Можна задать всем b элементам большого списка размер или лучше задавать меньшим спискам?*/
}

.true-city b,
.devil-bridge b {
  color: #ffffff;
  font-weight: bold;
}

.true-city,
.devil-bridge {
  background-color: #81b3d2;
  color: #ffffff;
}

.small-area,
.nice-road,
.few-tourist {
  background-color: #eeeeee;
}

.visit-sedona {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;
}

.hotel-search-popup p {
  font-size: 14px;
  line-height: 26px;
  background-color: #f2f2f2;
}

input[type="text"]:hover {
  background-color: #ebebeb;
  outline-width: 0;
}

input[type="text"]:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline-width: 0;
}

input[type="number"] {
  outline-width: 0;
  /*убирать автоматическую синуюю обводку? */
}

input::placeholder {
  color: #000000;
  font-weight: bold;
}

.button-hotel-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #766357;
}

.button-hotel-search:hover {
  background-color: #604e43;
}

.button-hotel-search:focus {
  color: #857871;
  background-color: #503e33;
}

.button-search {
  background-color: #81b3d2;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.footer-social {
  list-style-type: none;
}

.footer-social a {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:focus {
  background-color: #5496bd;
}

.footer-social a:focus path {
  fill-opacity: 0.4;
}

.html-academy span {
  line-height: 26px;
}

.html-academy svg {
  width: 115px;
  height: 41px;
}

.html-academy a:hover path {
  fill: #81b3d2;
}

.html-academy a:focus path {
  fill: #bdbbbc;
}

.sort-settings ul {
  list-style: none;
}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-types {
  font-size: 12px;
  line-height: 18px;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2
}

.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3)
}

.hotel-list {
  list-style: none;
}

.main-black {
  color: #000000;
}

.sort-types .current-setting {
  color: #81b3d2
}

.sort-types a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-types a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-types a:focus {
  color: #000000;
  border: none;
}

.icon-up svg path {
  fill: #cacaca;
}

.icon-down svg path {
  fill: #81b3d2;
}

.non-active:hover path {
  fill: #231f20;
}

.sort-controls a:focus path {
  fill: #81b3d2;
}

.information {
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: bold;
}

.order {
  color: #ffffff;
  background-color: #766357;
  font-weight: bold;
}

.information:hover {
  background-color: #669ec0;
}

.information:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.order:hover {
  background-color: #604e43;
}

.order:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
