body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  margin: 0px;
  border:0px;
  padding: 0px;
}



.button {
  color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  counter-reset: myCounter;
  border-right:40px solid #f2f2f2;
  border-left:40px solid #f2f2f2;


}

.feature-item p {
  margin: 0px;
  padding: 0px;
}

.list-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0px;
  padding-right: 0px;
}

.list-navigation li:last-child a{
  color:#766357;
}


.list-navigation li:nth-child(3) {
  margin-left: auto;
}

.list-navigation li {
  width: 239px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation {
  padding-left: 73px;
  padding-right: 73px;
}

.list-navigation li:nth-child(1),
.list-navigation li:nth-child(2) {
  text-align: left;
}

.list-navigation li:nth-child(3),
.list-navigation li:nth-child(4) {
  text-align: right;
}

.list-navigation a {
  color: #000000;
}

.list-navigation a[href]:hover {
  color: #81b3d2;
}

.list-navigation a[href]:focus {
  color: rgba(0, 0, 0, 0.3);
}

.greeting {
  min-height: 550px;
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 75px;
  box-sizing: border-box;
}

.advantage {
  text-align: center;
  padding-top: 37px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.advantage-slogan {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  margin-bottom: 35px;
}

.advantage-cause {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.feature-list,
.additional-feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-item-fullwidth {
  width: 100%;
}

.feature-list b {
  color: #000000;
  font-size: 21px;
}

.advantage-city b {
  color: #ffffff;
  font-weight: bold;
}

.feature-item p {
  margin-top: 65px;
}

.feature-text-wrapper {
  width: 400px;
  padding: 45px 55px 0px 55px;
  position: relative;
}

.advantage-city {
  display: flex;
  justify-content: space-between;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.devil-bridge {
  flex-direction: row-reverse;
}

.feature-item-column {
  width: 400px;
  background-color: #eeeeee;
  box-sizing: border-box;
  text-align: center;
  padding: 45px 80px 55px 90px;
}

.additional-feature p {
  margin-top: 29px;
}

.additional-feature {
  background-color: ffffff;
}

.visit-sedona {
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search{
  position: relative;
}

.hotel-search b {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search p {
  font-size: 14px;
  line-height: 24px;

}





.button-hotel-search {
  display: block;
  position: relative;
  width: 568px;
  padding: 30px 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  margin: 0 auto;


}

.button-hotel-search:hover {
  background-color: #604e43;
}

.button-hotel-search:focus {
  color: #857871;
  background-color: #503e33;
}

.button-search {
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 461px;
  height: 60px;
  margin-top:25px;
  margin-bottom: 55px;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.container-interest {
  text-align: center;
}

.container-interest p {
  margin: auto;
  margin-bottom: 48px;
  margin-top: 23px;
  text-align: center;
}



.main-footer .wrapper {
  width:1200px;
  min-height: 46px;
  display: flex;
  padding-top: 25px;
  padding-bottom:25px;

}

.footer-container {
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  display: flex;
  min-width: 150px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social a {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:focus {
  background-color: #5496bd;
}

.footer-social a:focus path {
  fill-opacity: 0.4;
}

.html-academy span {
  line-height: 26px;
}

.html-academy svg {
  width: 115px;
  height: 41px;
  vertical-align: bottom;
}

.html-academy a:hover path {
  fill: #81b3d2;
}

.html-academy a:focus path {
  fill: #bdbbbc;
}

.sort-settings ul {
  list-style: none;
}

.sort-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort-types {
  font-size: 12px;
  line-height: 18px;
}

.hotel-name {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2
}

.hotel-name:focus {
  color: rgba(0, 0, 0, 0.3)
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-black {
  color: #000000;
}

.sort-types .current-setting {
  color: #81b3d2
}

.sort-types a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-types a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-types a:focus {
  color: #000000;
  border: none;
}

.icon-up svg path {
  fill: #cacaca;
}

.icon-down svg path {
  fill: #81b3d2;
}

.non-active:hover path {
  fill: #231f20;
}

.sort-controls a:focus path {
  fill: #81b3d2;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 27px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: bold;
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 27px;
  color: #ffffff;
  background-color: #766357;
  font-weight: bold;
}

.information:hover {
  background-color: #669ec0;
}

.information:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.order:hover {
  background-color: #604e43;
}

.order:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.main-header {
  min-height: 56px;
}

.hotel-rating {
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  text-align: right;
}

.rating-stars {
  font-size: 22px;
  color: #81b3d2;
  padding-top: 10px;
}

.rating-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
  margin-top: 42px;
}

.sort-settings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 14px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.sort-types {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 45px;
  padding-top: 6px;
}

.sort-types ul {
  display: flex;
}

.sort-types li {
  padding-right: 30px;
}

.sort-controls {
  display: flex;
  margin-left: auto;
  padding-top: 6px;
}

.hotel-catalog {
  display: flex;
  flex-direction: column;
}

.hotel-item {
  display: flex;
  padding: 27px 72px 30px 72px;
  border-top: 1px solid #e5e5e5;
}

.description p {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 11px;
}

.hotel-item h3 {
  display: table-cell;
  margin: 0px;
  vertical-align: bottom;
}

.hotel-item img {
  margin-right: 31px;
  padding-top: 5px;
}

.line-block {
  display: inline-block;
}

.hotel-name-and-information {
  margin-right: 6px;
}

.hotel-item:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
}

.description {
  display: flex;
  flex-basis: 520px;
  box-sizing: border-box;
}

/* декоративные элементы главной страницы */
.feature-item-column {
  position: relative;
}

.additional-feature .feature-item-column {
  padding-top: 155px;
  padding-bottom: 80px;
  padding-right: 55px;
  padding-left: 55px;
}

.accomodation b::before {
  content: "";
  position: absolute;
  top: 57px;
  left: 162px;
  width: 75px;
  height: 72px;
  display: block;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food b::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 160px;
  width: 75px;
  height: 70px;
  display: block;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.present b::after {
  content: "";
  position: absolute;
  top: 51px;
  right: 163px;
  width: 64px;
  height: 76px;
  display: block;
  background-image: url("../img/present.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item {
  position: relative;
}

.myCount::after {
  position: absolute;
  display: block;
  top: 90px;
  left: 170px;
  transform: translateX(50%);
  counter-increment: myCounter;
  content: "- №"counter(myCounter)" -";
}


.hotel-form{
  min-height: 220px;
  display: flex;
  flex-wrap: wrap;
  background-image: url("../img/background-photo-blur.jpg");
  background-position: 50%;
  box-sizing: border-box;
  padding-top:29px;

}

.hotel-form form{
  padding-top: 25px;
  font-family: PTSans;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  color:#ffffff;
}

.title-hotel-form{
  color:#ffffff;
  font-size: 16px;
  line-height: 21px;
  font-family: PTSans;
  font-weight: bold;
}

.hotel-form label{
  display: block;
}

.login-checkbox{
  position: relative;
  padding-left: 40px;
  margin-bottom: 23px;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;
  top:0;
  left: 0;
  width:23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}




.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator:after{
  content: "";
  position: absolute;
  top:0px;
  left:0px;
  background-image: url(../img/checkbox-on.svg);
   width:27px;
  height: 23px;
}

.infrastructure{
  margin-right: 100px;
  margin-left: 73px;
}

.filter-range{
  width: 330px;
  margin-left: auto;
  margin-right: 75px;

  color:#ffffff;
  text-transform: uppercase;
}

.filter-range-title{
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 9px;
}

.price-controls{
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
 border-radius: 2px;
 font-size: 0;
 position: relative;
}

.price-controls label{
  font-size: 14px;
  line-height: 38px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price{
width:90px;
padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls::after{
  content: "";
  position: absolute;
  top:50%;
  left:50%;

  height: 22px;
  width:2px;
  background: #ffffff;

  transform: translate(-50%, -50%);
}

.range-controls{
  position: relative;
  margin-bottom:32px;
}

.range-controls .scale{
  height: 2px;
   background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
  width:80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle{
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;

  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top:-9px;
}

.range-toggle-max{
  left:80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent{
display:block;
padding:6px 35px;
border:2px solid #ffffff;
background: transparent;
color:#ffffff;
text-transform: uppercase;
margin:0 auto;

font-family: PTSans;
font-size: 14px;
font-weight: normal;
line-height: 21px;
border-radius: 2px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* Форма на главной странице */

.modal-form{
  display: flex;
}

.hotel-search-form{
  position: absolute;
  flex-direction: column;
  padding: 55px;
  text-align: center;
  width:458px;
  left:50%;
  margin-left:-285px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-family: PTSans;

}

.hotel-search-date{
  display: flex;
  position: relative;
  margin-bottom: 30px;
  align-items: center;

}

.hotel-search-date input{
  width:339px;
  box-sizing: border-box;
  padding-right: 46px;
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 7px;
  font-weight: bold;
  border: none;
  background-color: #f2f2f2;
  outline: none;
  position: relative;
}

.hotel-search-input{
  display: flex;
  margin-left: auto;
  align-items: center;

}

.date-input{
  position: relative;
}

.date-input:hover{
background-color: #ebebeb;
}

.date-input:focus{
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}



.calendar-btn{
  display: block;
  position: absolute;
  top:4px;
  right: 20px;
  background-color: none;
  border:0;
  outline: 0;
}


.calendar-btn svg{
 opacity:0.5;
}

.calendar-btn svg:hover{
  opacity: 1;
}

.calendar-btn svg:active{
  fill:#81b3d2;
}






.number-people{
  width:458px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: PTSans;
  margin-bottom: 56px;
}

.number-wrapper{
  width:114px;
  height: 38px;
  background-color: #f2f2f2;
  display: flex;
}

.number-wrapper input{
  display: block;
  width:38px;
  height:38px;
  outline: none;
  border:none;
  background-color: #f2f2f2;
  margin: 0;
  padding:0;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.button-number{
  display: block;
  width:38px;
  height:38px;
  border: none;
  background-color:#f2f2f2;
  outline: none;
  position: relative;
}

.button-number span::after{
  content: "";
  width:12px;
  height: 3px;
  background-color: #a9a9a9;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.plus span::before{
  content: "";
  width:3px;
  height: 12px;
  background-color: #a9a9a9;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-35%);
}

.hotel-search-form-button{
  font-size: 21px;
  line-height: 26px;
  color:#ffffff;
  background-color:#81b3d2;
  border:none;
  padding:15px 201px;
}

.hotel-search-form-button:hover{
  background-color: #669ec0;
}

.hotel-search-form-button:active{
background-color: #5496bd;
color:rgba(255, 255, 255, 0.3);
}
